/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.card-text{
    padding:20%;
    color:rgb(114, 112, 112);
    font-family: 'Roboto', sans-serif;
}

.card-row{
    align-items: center;
    align-self: center;
    justify-content: center;
}

.firsttext{
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}

.singlecards{
    align-content: center;
    align-self: center;
    justify-content: center;
    align-items:center;
    padding-top: 15%;
}

.singlecards:hover{
    background-color: 	rgba(2, 117, 216, .5);
    color-adjust: white;
}

.container2{
    margin-top: 60px;
    align-content: center;
    border-radius: 6px;
    border:1px solid gray;
    flex-direction: column ;
    padding:0;
}

.container2text{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:60px;
    line-height: 2em;
    font-weight: 100;
    border: 1px solid gray;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.learnmorebtn{
    border:1px white solid;
    width: 30%;
    padding-right: 0;
    color:white;
    justify-content: right;
}

.bi-chevron-right{
    float:right;
    justify-self: center;
    align-self: baseline;
}

.pictureleft{
    padding:60px;
    border: transparent;
}

.ph{
    color: rgb(172, 172, 172);
}

