/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.solid{
    width:70%;
    margin:auto;
}
.card-text{
    padding-top:20%;
    padding-bottom: 20%;
    color:rgb(114, 112, 112);
    font-family: 'Roboto', sans-serif;
}
.card-row{
    align-items: center;
    align-self: center;
    justify-content: center;
}
.firsttext{
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}
.singlecards{
    align-content: center;
    align-self: center;
    justify-content: center;
    align-items:center;
    justify-content: space-evenly;
    width: 130px;
    height: 170px;
    border-radius: 10px;
}
.singlecards:hover{
    background-color: 	rgba(2, 117, 216, .5);
    color: white !important;
}

/* Container 2 styling Stackable Card and left IMG*/

.container2{
    margin-top: 60px;
    align-content: center;
    border: 0;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px; 
}

.container2text{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:60px;
    line-height: 2em;
    font-weight: 100;
    border: 1px solid gray;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.learnmorebtn{
    border:1px white solid;
    width: 30%;
    padding-right: 0;
    color:white;
    justify-content: right;
}
.learnmorebtn:hover{
    color:inherit;
    opacity: 1;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.3),
      6px 6px 10px rgba(0, 0, 0, 0.2);

}

.bi-chevron-right{
    float:right;
    justify-self: center;
    align-self: baseline;
    margin-right:10px;
    margin-left: 10px;
    margin-top: 3px;
}
.pictureleft {
    border: 0;
    width: 100%;
    padding-top: 10%;
}

/* Container 3 styling 4 cards with rounded IMG */

.heading-container3{
    padding-top: 8%;
    padding-bottom: 5%;
}

.btn-outline-dark{
    width: 50%;
}
.btn-outline-dark:hover{
    color:inherit;
    opacity: 1;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.3),
    6px 6px 10px rgba(0, 0, 0, 0.2);
}
.single-card-bottom{
    padding: 10%;
}
