body {
    background-color: white;
}

.corporate-cutie {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}

.corporate-cutie img {
    width: 100%;
    height: auto;
}

.h2 {
    padding-top: 40px;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 31px;
}

.sign-up-button {
    background-color: transparent;
    width: 180px;
    border: 2px solid white;
    padding: 3px;
    font-weight: 500;
}

.sign-up-button:hover {
    border-color: #eee;
    color: #eee;
    box-shadow: 3px 2px;
    background-color: transparent;
}

.header, h1 {
    text-align: center;
    font-weight: 700;
}

.socialmedia, h4 {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-align: center;
}

ul.social {
    margin: 0;
    padding: 10;
    width: 100%;
    text-align: center;
  }
  
  ul.social > li {
    display: inline-block;
  }
  
  ul.social > li > a {
    display: inline-block;
    font-size: 25px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 36px;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    margin: 0 23px 23px 0;
  }
  
  ul.social > li > a:hover {
    text-decoration: none;
      border-color: black;
      color: black;
      box-shadow: 3px 2px;
      background-color: transparent;
  }


  .fontuser { 
    position: relative; 
} 
  
.fontuser i{ 
    position: absolute; 
    left: 60px; 
    top: 10px; 
    color: black; 
} 
  
.fontuser2 { 
    position: relative; 
} 
  
.fontuser2 i{ 
    position: absolute; 
    left: 60px; 
    top: 10px; 
    color: black; 
} 

.fontuser3 { 
    position: relative; 
} 

.form-control {
    padding-left: 35px; 
}

.fontuser3 i{ 
    position: absolute; 
    left: 60px; 
    top: 10px; 
    color: black; 
} 

.sign-in-button {
    height: 35px;
    width: 160px;
    background-color: blue;
    padding: 3px;
    font-weight: 500;
}

.sign-in-button:hover {
    text-decoration: none;
      border: 3px solid blue;
      color: blue;
      background-color: transparent;
      box-shadow: 3px 2px;

}