.container-fluid{
     padding: 3% 30%;
     justify-content: center;
}
.info-card{
    text-align: center;
    margin:40px 20%;
}  
.h2{
   font-size: 20px; 
}
.card-body{
    background-color: blue;
    color: white;

.card-title{
    color: white;
    margins:10px 10%;
    text-align: center;
     
}   
.card-text{
    text-decoration-color: white;
    margins:10px 10%;
    text-align: center;
}    

    