.container1{
    justify-content: center;
}
hr{
    margin: auto;
    color: grey;
    width: 500px;
}
.container2 {
    font-family: 'Roboto', sans-serif;
    line-height: 3em;
    font-weight: 100;
    border-style: 1px, solid, gray;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px
    margin: 0
     
    

}
.container3 {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:60px;
    line-height: 3em;
    font-weight: 100;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}
.info-card{
    text-align: center;
    padding: 100px;
}
.card-body{
    background-color: blue;    
    color: white;
}       
.card-text{
    text-decoration-color: white;
    margin:10px 10%; 
    text-align: center; 
}        

    